body {
	background-color:linen;
}

ul {
	font-style: normal;
	font-size: 20px;
	font-weight: bold;
	background-color: darkgray;
	text-align: center;
	
}


ul li {
	display: inline;
	margin: 0;
	padding: 10px 90px 10px 90px;
}

.form-contact, .form-login {
	width: 450px;
	margin: 20px auto 0 auto;
	padding: 10px;
	background: linen;
	box-shadow: 5px 5px 10px #aaa;
}

h2 {
	text-align: center;
}

.flash {
	width: 350px;
	margin: 20px auto 0 auto;
	padding: 10px;
	border: black;
}
.flash.success {
	background-color: rgb(139, 228, 139);
}
.flash.error{
	background-color:lightcoral;
}